@import "tailwindcss";

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Roboto", sans-serif;
    interpolate-size: allow-keywords;
  }
}
